
<div id="tvm-banner-container">
  <div id="tvm-banner-title">
    <p>
      Apache TVM and Deep Learning Compilation Conference
    </p>
    <div id="tvm-banner-subtitle">
      <p>
        Wed-Fri, December 2nd-4th 2020, Free Virtual Event.
      </p>
    </div>
    <p>
      <a href="{{ BASE_PATH }}/#about-tvmconf" class="link-btn" id="banner-btn">Learn More</a>
      <!--      <a href="https://www.eventbrite.com/e/tvm-conf-2020-tickets-127421618491" class="link-btn" id="banner-btn">Register!</a> -->
    </p>
  </div>
</div>

<div class="container" id="about-tvmconf">
  <p> </p>
</div>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="span14">
        {{ content }}
      </div>
    </div>
  </div>
</div> <!-- /container -->
