<div id="tvm-banner-container">
</div>

<div class="container">
    <p id="tvm-banner-title">
      Apache TVM and Deep Learning Compilation Conference
    </p>
    <div id="tvm-banner-subtitle">
      <p>
      Wed-Fri, December 15th-17th 2021 </br>
        Free Virtual Event
      </p>
    </div>
    <!--
      <a href="{{ BASE_PATH }}/#about-tvmconf"
         class="link-btn"
         id="banner-btn">
             Learn More
      </a>
    <!--
    <!--
      <a href="https://www.eventbrite.com/e/tvm-conf-2020-tickets-127421618491" 
         class="link-btn"
          id="banner-btn">
              Register!
      </a>
     -->
</div>

<div class="container1" id="about-tvmconf">
</div>

<div class="container1">
  <div class="content">
    <div class="row">
      <div class="span14">
        {{ content }}
      </div>
    </div>
  </div>
</div> <!-- /container -->
