
<div id="tvm-banner-container">
  <div id="tvm-banner-title">
    <p>
      TVM and Deep Learning Compilation Conference
    </p>
    <div id="tvm-banner-subtitle">
      <p>
        Thu-Fri, December 3rd-4th 2020, Virtual.
      </p>
    </div>
    <p>
      <a href="{{ BASE_PATH }}/#about-tvmconf" class="link-btn" id="banner-btn">Learn More</a>
    </p>
  </div>
</div>

<div class="container" id="about-tvmconf">
  <p> </p>
</div>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="span14">
        {{ content }}
      </div>
    </div>
  </div>
</div> <!-- /container -->
